:root {
    --dark-purple: #6200EE;
    --light-purple: #C0ACD9;
    --main-border-radius: 8px;
}

.content {
    display: flex;
    flex-direction: column;
}

.left-side, .right-side {
    display: flex;
}

.control-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    border: solid 0.5px dimgray;
    padding: 16px;
}

/*ICON*/
.control-icon {
    margin: auto;
}

.control-picture {
    width: 32px;
    height: auto;
}

/*PADDING*/
.padding {
    padding: 8px;
}

/*STEP*/
.step {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-purple);
    color: var(--dark-purple);
    width: 32px;
    height: 40px;
    border-radius: var(--main-border-radius);
}

/*SWITCH*/
.control-switch {
    align-self: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: dimgray;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: -1.5px;
    top: -1.5px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--light-purple);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--light-purple);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: var(--dark-purple);
}

/* Rounded sliders */
.slider.round {
    border-radius: var(--main-border-radius);
}

.slider.round:before {
    border-radius: 50%;
}